<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container-gral">
	<h1>Moderar comentarios</h1>
	<table class="table table-hover">
		<tr>
			<th>Link de producto</th>
			<th>Usuario que comentó</th>
			<th>Cant. de votos por indevido</th>
			<th>Acciones</th>
		</tr>
		<%@comments.each do |comment|%>
		<tr>	

				<td><%=link_to Article.find(comment.article_id).name, article_path(comment.article_id)%></td>
				<td><%=link_to User.find(comment.user_id).email, users_show_path(comment.user_id)%></td>
				<td><%=comment.cantindevidos%></td>
				<td>
					<%=link_to "Editar",edit_comment_path(comment.id), :class=>"btn btn-primary"%>
					<%=link_to "Eliminar",borrar_comment_path(comment.id),:class=>"btn btn-danger"%>
				</td>
		</tr>
		
		<%end%>
	</table>
	</div>
</body>
</html>