<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container-gral">
	<h1>Mis artículos</h1>
	<table class="table table-hover">
		<tr>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Ubicación</th>
			<th>Acciones</th>
		</tr>
		<%@article.each do |article|%>
		<tr>
			<%if article.user_id==params[:format].to_i%>
				<td><%=link_to article.name,article_path(article.id)%></td>
				<td><%=article.name%></td>
				<td><%=article.ubicacion%></td>
				<td>
					<%=link_to "Editar",edit_article_path(article.id), :class=>"btn btn-primary"%>
					<%=link_to "Eliminar",borrar_path(article.id),:class=>"btn btn-danger"%>
				</td>
			<%end%>
		</tr>
		<%end%>
	</table>
	</div>
</body>
</html>