<html>
<head>
</head>
<body>

      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h1><%=@article.name%></h1></div>
      </div>
      <br><br>
      <div class="row">
      
              <div id="box-central-foto--article">
                  <div id="pic--article">
                      <%unless @article.foto_url.nil? %><%= image_tag @article.foto_url(:display) %><br/>
                      <%else%>
                          <img src="http://img2.wikia.nocookie.net/__cb20120819040410/naruto/es/images/8/84/Sin_imagen_disponible.jpg" alt="sinimagen">
                      <%end%>
                  </div>
                  <div id="buy-like-somedata--article">
                      <h3 style="color:red;">$<%=@article.price%></h3><br>
                      <h5>>Ubicación: <%=@article.ubicacion%></h5><br>
                      <h5>>Fecha de publicación: <%=@article.created_at%></h5><br>
                          <%if user_signed_in?%>
                              <center><%=link_to "Agregar a carrito" , articleincarts_new_path(@article.id), :class=>"btn btn-default"%>
                              <%if Userlikearticle.haslike(@article.id,current_user.id)=="no"%>
                                      <%=link_to "Me gusta!" , add_like_to_article_path(@article.id), :class=>"btn btn-primary btn-sm"%>
                              <%end%>
                              
                          <%end%>
                          <h5><%=">El dueño de este artículo es categoría "%>
                          <%category=User.getCategory(@article.user_id)%>
                          <%if category=="Bronce"%>
                            <bronce><%=category%></bronce>
                          <%elsif category=="Plata"%>
                            <plata><%=category%></plata>
                          <%else category=="Oro"%>  
                            <oro><%=category%></oro>
                           <%end%> 
                          <%=" y tiene "%><b><%=User.getVentas(@article.user_id) %></b><%=" ventas concretadas con exito"%></h5>
                          <h5><%=">Este artículo le gusta a "%><b><%=Article.cant_likes(@article.id)%></b> <%="personas!"%><h5></center>

                  </div>
              </div>
      </div>
     
      <br>
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h3>Descripción:</h3></div>
      </div>
      <br>
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                  <textarea rows="15" cols="85">
                        <%=@article.description%>
                  </textarea>
              </div>
      </div>                       
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h3>Comentarios:</h3></div>       
      </div>



      <%=render "comment_and_answerd"%>
            
</body>
</html>
<center>
