<html>
<head>
</head>
<body>

      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h1><%=@article.name%></h1></div>
      </div>
      <br><br>
      <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-6"><img src="#" width="300px" height="300px"></div>
              <div class="col-md-4"><%=link_to "Agregar a carrito" , articleincarts_new_path(@article.id)%></div>

      </div>
      <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10"><h5>Pecio: <%=@article.price%></h5></div>
      </div>
      <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10"><h5>Ubicación: <%=@article.ubicacion%></h5></div>
      </div>
      <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10"><h5>Fecha de publicación: <%=@article.created_at%></h5></div>
      </div>
      <br>
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h3>Descripción:</h3></div>
      </div>
      <br>
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                  <textarea rows="15" cols="85">
                        <%=@article.description%>
                  </textarea>
              </div>
      </div>                       
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h3>Comentarios:</h3></div>       
      </div>



      <%=render "comment_and_answerd"%>
            
</body>
</html>
<center>
<p>
<a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="¡CSS Válido!" />
    </a>
</p>
</center>