<html>
<head>
</head>
<body>

      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h1><%=@article.name%></h1></div>
      </div>
      <br><br>
      <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-6"><img src="http://b-smart.co.th/wp-content/uploads/2014/07/not-found-300x300.png" width="300px" height="300px"><br></div>
              <br>
              <div class="col-md-4"><%=link_to "Agregar a carrito" , articleincarts_new_path(@article.id), :class=>"btn btn-default"%></div>

      </div>
      <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10"><h5>Pecio: $<%=@article.price%></h5></div>
      </div>
      <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10"><h5>Ubicación: <%=@article.ubicacion%></h5></div>
      </div>
      <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10"><h5>Fecha de publicación: <%=@article.created_at%></h5></div>
      </div>
      <br>
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h3>Descripción:</h3></div>
      </div>
      <br>
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                  <textarea rows="15" cols="85">
                        <%=@article.description%>
                  </textarea>
              </div>
      </div>                       
      <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11"><h3>Comentarios:</h3></div>       
      </div>



      <%=render "comment_and_answerd"%>
            
</body>
</html>
<center>
