<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="searchbar">
        <div class="row">
        <br>
            <div class="col-md-3"></div>
            <center>
            <div class="col-md-6">

                <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
                    
                    <%= text_field_tag :search, params[:search] ,placeholder:"Ingrese aquí el nombre del producto que desea buscar",class:"form-control"%><br>
                    <br><%= submit_tag "Buscar!", class: "btn btn-default btn-sm" %><br>
                <% end %>
                
            </div>
           </center>
           <div class="col-md-3"></div>
         </div>
    </div>










    <div id="novedades">
    <div class="row">
        <br><br>
            <div class="col-md-1"></div>
            <div class="col-md-11"><h2>Novedades:</h2><br></div>
            <div class="col-md-1"></div>
            <div class="col-md-11"><%=render 'articles/novedades'%></div>
            
    </div>
    </div>
    <div id="categorias">
         <div class="row">
            <br><br>
            <div class="col-md-1"></div>
            <div class="col-md-11"><h2>Categorias:</h2></div>
            <div class="col-md-12"><br></div>
            <center>
            <%Category.all.each do |categoria|%>
                <%idcategoria=categoria.id%>
                <%cantidad=Article.where("category_id = #{idcategoria}").count%>
                <div class="col-md-6">
                    <%=link_to categoria.name+"(#{cantidad})",articles_path(categoria.id)%>
                </div>
            <%end%>
            <div class="col-md-12">
                    <center>
                        <%=link_to "Ver todos"+"(#{Article.count})",articles_path()%>
                    </center>
                </div>
            </center> 
        </div> 
        <br><br> 
    </div>
    <div id="articulos-mas-votados">
    <div class="row">
        <br><br>
            <div class="col-md-1"></div>
            <div class="col-md-11"><h2>Artículos mejor valorados:</h2><br></div>
            <div class="col-md-1"></div>
            <div class="col-md-11"><%=render 'articles/maslikes'%></div>
    </div>
    </div>

</body>
</html>
<center>
<p>
<a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="¡CSS Válido!" />
    </a>
</p>
</center>