<!DOCTYPE html>
<html>
<head>
	<title>Mi carrito</title>
</head>
<body>
	<h1>Mi carrito</h1>
	<%cartid=@cart.id%>
	<%total=0.0%>
	<table class="table table-hover">
		<tr>
			<th>Foto</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Acción</th>
		</tr>
			<%Articleincart.all.each do |articleincart|%>
			<%if articleincart.id_cart==cartid%>
				<%article=Article.find(articleincart.id_article)%>
		<tr>
			<td>
				<%unless article.foto_url.nil? %>
					<%= image_tag article.foto_url(:thumb) %>
				<%end%>
			</td>
			<td><%=link_to article.name,article_path(article.id)%></td>
			<td><%="$"+article.price%><%total=total+article.price.to_f%></td>
			<td><%=link_to "Borarr",borrar_article_in_cart_path(articleincart.id_cart,articleincart.id_article),:class=>"btn btn-danger"%></td>
		</tr>
	
			<%end%>
			<%end%>	
		<tr>
			<td></td>
			<td></td>
			<td><h3>Total: $<%=total%></h3><br><%=link_to "Comprar!!!", @cart.paypal_url(carts_sale_successful_url),:class=>"btn btn-default"%></td>
		</tr>			
	</table>
	
	

</body>
</html>
