<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ArgenShopping</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
  

    <%= csrf_meta_tags %>
  </head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ArgenShopping</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">

            
            <%if user_signed_in?%>
              <li><%=link_to "Mi carrito", carts_show_path%></li>
              <li><a href="/users/edit"><%= current_user.email %></a></li>
              <li><a href="/users/sign_out">Salir</a></li>
            <%else%>  
              <li><a href="/users/sign_in">Iniciar Sesión</a></li>
              <li><a href="/users/sign_up">Registrarse</a></li>
            <%end%>
      </ul>
    </div>
  </div>
    </nav>
    <div id="container">
        
      <div id="box-izq">
        <nav>
          <ul class="nav nav-pills nav-stacked span2">
              <li><a href="/" >Buscar un producto</a></li>
            <%if user_signed_in?%>
              <li><a href="/users/edit">Mi Perfil</a></li>
              <li><a href="/articles/new">Publicar un producto</a></li>
            <%end%>
              <li><a href="#" >¿Cómo comprar?</a></li>
              <li><a href="#">¿Cómo vender?</a></li>
              <li><a href="#">Sobre el sitio</a></li>
              <li><a href="#">Mapa del sitio</a></li>
              <li><br></li>
            <%if user_signed_in? && current_user.role=="admin"%>
                  <div id="menu_admin">
                        <label style="color:red;">MENU ADMINISTRADOR</label>
                        <li><a href="/articles">Administrar Artículos</a></li>
                        <li><a href="/comments">Administrar Comentarios</a></li>
                        <li><a href="/categories">Administrar Categorias</a></li>
                  </div>
            <%end%>  
            </ul>
      </nav>
        </div>

      <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %> 

<br><br> 
      <div id="box-central">

<br><br>
<%= yield %>
</div>

</body>
</html>
