
<html>
<head>
  <title>Nuevo usuario</title>
</head>
<body>
  <br><br><br><br>
<h2>Registrarse</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  
  <div class="field">
    <%= f.text_field :username, label:"Nombre de usuario:"%>
  </div>

  <div class="field">
    <%= f.text_field :name, label: "Nombre:"%>
  </div>

  <div class="field">
    <%= f.text_field :lastname, label: "Apellido:"%>
  </div>

  <div class="field">
    <%= f.text_field :tel, label:"Teléfono"%>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, label: "E-mail" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres como mínimo)<br>(Debe incluir al menos una letra minúscula , una letra mayúscula y un dígito)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "off" , label: "Contraseña"%>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", label: "Repita la Contraseña" %>
  </div>

  <div class="field">
      <%= f.hidden_field :role , :value => "user" %> 
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit "Continuar" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</body>
</html>

